@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');

:root{
    --ut-orange: #fb8b24ff;
    --dogwood-rose: #d90368ff;
    --byzantium: #820263ff;
    --dark-purple: #291720ff;
    --jade: #04a777ff;
}

html{
    height: 100%;
    width: 100%;
    font-family: Foldit;
    font-weight: 400;
    font-size: xx-large;
}

body{
    height: auto;
    width: auto;

    background: linear-gradient(to bottom, var(--dark-purple), black);
    z-index: 0;
}


#menuBar{
    z-index: 1;
    height: 150px;
    width: 100%;
    background: rgb(0,0,0,0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    align-items: center;
    box-shadow: 5px -5px 10px var(--dogwood-rose) inset;
}

#logo{
    text-shadow: -2px 2px 5px var(--dogwood-rose);
}

#game{
    filter: drop-shadow(-2px 2px 5px var(--dogwood-rose))
}

a{
    text-decoration: none;
}

.buttonPage{
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 30px;
    text-align: center;
}

#content{
    height: 100%;
    width: 100%;
    z-index: 0;
}

.buttons{
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menuBar:hover  #drone{
    visibility: visible;
}

#drone {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  filter: drop-shadow(10px 10px 15px var(--jade));
  border-radius: 50%;
  transition: transform 800ms ease-out;
  will-change: transform;
  pointer-events: none;
  z-index: 0;
  visibility: hidden;
}